{% extends "base.html" %} {% load static %} {% block 'body' %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">{{ category.title }}</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop - {{ category.title }}</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">{{ category.title }}</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">

                    </div>
                    <div class="col-6"></div>
           
                </div>
                <div class="row g-4">
                    
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">


                            <!-- Shop Start-->

                            {% for p in products %}

                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <div class="rounded position-relative fruite-item">
                                    <a href="#">
                                    <div class="fruite-img">
                                      <img
                                        src="{{p.image.url}}"
                                        class="img-fluid w-100 rounded-top"
                                        alt=""
                                      />
                                    </a>
                                    </div>
                                    <div
                                      class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                      style="top: 10px; left: 10px"
                                    >
                                      {{p.category.title}}
                                    </div>
                                    <div
                                      class="p-4 border border-secondary border-top-0 rounded-bottom"
                                    >
                                    <p>
                                      {{p.vendor.title}}
                                    </p>
                                    <a href="#"><h4>{{p.title}}</h4></a>  
                                      <p>
                                        {{p.description}}
                                      </p>
                                      <div class="d-flex justify-content-between flex-lg-wrap">
                                        <p class="text-dark fs-5 fw-bold mb-0">{{p.price}} / kg</p>
                                        <a
                                          href="#"
                                          class="btn border border-secondary rounded-pill px-3 text-primary"
                                          ><i class="fa fa-shopping-bag me-2 text-primary"></i>
                                          Add to cart</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  resh fruits shop     </div>
{% endfor %}
                            <!-- Shop End-->

                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    <a href="#" class="rounded">&laquo;</a>
                                    <a href="#" class="active rounded">1</a>
                                    <a href="#" class="rounded">2</a>
                                    <a href="#" class="rounded">3</a>
                                    <a href="#" class="rounded">4</a>
                                    <a href="#" class="rounded">5</a>
                                    <a href="#" class="rounded">6</a>
                                    <a href="#" class="rounded">&raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->


{% endblock 'body' %}
